body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    background: #edf0f5;
    color: #202125;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .rating-wrapper {
  
    max-width: 35%;
    margin: 10% auto;
    background: #fff;
    padding: 1em;
    border-radius: 3px;
    box-shadow: 0px 5px 15px rgba(19, 18, 18, 0.493);
  }
  .rating-wrapper .rating-label {
    text-align: center;
    font-weight: 700;
    display: block;
  }
  .rating-wrapper .ratingItemList {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 1em 0;
  }
  .rating-wrapper input.rating {
    display: none;
  }
  .rating-wrapper label.rating {
    padding: 5px 3px;
    font-size: 32px;
    opacity: 0.7;
    filter: grayscale(1);
    cursor: pointer;
  }
  .rating-wrapper label.rating:hover {
    filter: grayscale(0.84);
    transform: scale(1.1);
    transition: 100ms ease;
  }
  .rating-wrapper input.rating:checked + label.rating {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.1);
  }
  
  .feedback {
    width: 100%;
    display: none;
  }
  .feedback textarea, .feedback input {
    max-width: 400px;
    width: 100%;
    display: block;
    margin: 0.5em auto;
    padding: 0.5em;
    font-family: "Lato", sans-serif;
    border: 1px solid #d2d3d8;
    border-radius: 3px;
  }
  
  .feedback textarea {
    height: 100px;
  }
  .feedback button {
    margin: 1em auto;
    display: table;
    text-align: center;
  }
  
  
  
  button {
    color: #edeef0;
    background-color: #9b9ea9;
    border-radius: 11px;
    font-family: "Lato", Arial sans-serif;
    border: 0;
    padding: 15px 18px;
    font-size: 20px;
  }
  
  button.not-disabled {
    color: #fff;
    background-color: #fa6400d2 ;
    cursor: pointer;
  }
  button.not-disabled:hover {
    background-color: #fa6400;
    transition: all 0.5s 0.1s;
  }
  